* {
  font-family: "Nunito", sans-serif;
  font-family: "Oswald", sans-serif;
}

.contenedor {
  align-items: baseline;
}

.logo {
  display: flex;
  align-items: center;
  width: 100%;
}

header {
  height: 150px;
  display: flex;
}

.navbar {
  display: flex;
  justify-content: end;
  width: 100%;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: #0047cc;
  box-shadow: #1f6bfa;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/fotobanda.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
}

ul {
  width: 100%;
  justify-content: right;
}

img {
  width: 350px;
}

.encabezado {
  font-size: 3rem;
  font-weight: 500;
  color: whitesmoke;
  text-align: center;
  font-weight: 700;
  background-color: rgba(71, 71, 71, 0.7450980392);
  width: 600px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 800px;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(71, 71, 71, 0.7450980392);
  color: white;
  width: 600px;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-direction: column;
  color: white;
  top: 400px;
  margin: 0 150px 0 150px;
  position: relative;
}

.historia {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-direction: column;
  color: white;
  top: 600px;
  margin: 0 150px 0 150px;
  position: relative;
}
.historia_tittle {
  font-size: 2rem;
}

.accordion-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(71, 71, 71, 0.7450980392);
  color: white;
  width: 800px;
}
.accordion-button {
  background-color: rgba(71, 71, 71, 0.7450980392);
  color: white;
}
.accordion-button.btn {
  color: white;
}
.accordion-button::after {
  color: white;
}
.accordion-button:not(.collapsed) {
  background-color: rgba(71, 71, 71, 0.7450980392);
  color: white;
}

.listado {
  display: flex;
  justify-content: center;
}

.contacto {
  color: white;
  font-size: 2rem;
  list-style-type: none;
}

body {
  color: white;
}

.share {
  display: flex;
  justify-content: right;
  width: 50px;
}
.share button {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
}
.share:hover .links {
  display: inline;
  transition: display 3s;
}
.share:hover button {
  transition: display 3s;
  display: none;
}

.links {
  display: none;
}

#wp {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-content: end;
  background-color: black;
  top: 700px;
  z-index: 1;
}

.menu_footer {
  display: flex;
  flex-direction: column;
}
.menu_footer ul {
  list-style: none;
}
.menu_footer a {
  color: white;
  text-decoration: none;
}
.menu_footer a:hover {
  color: blue;
}

.redes {
  display: flex;
  justify-content: right;
  height: 40px;
  width: 80%;
}
.redes a {
  color: white;
  margin: 10px;
  text-decoration: none;
  width: 15px;
  height: 15px;
  font-size: 30px;
  transition: all 0.4s ease-in-out;
}
.redes a:hover {
  transform: scale(1.2, 1.2);
}

.copyright {
  color: rgba(128, 128, 128, 0.168627451);
  display: flex;
  justify-content: center;
  width: 100%;
}

/* T A B L E T*/
@media (min-width: 481px) and (max-width: 768px) {
  .container-fluid {
    justify-content: center;
    flex-direction: column;
  }
  img {
    width: 100%;
  }
  .navbar {
    display: flex;
    justify-content: center;
    flex-direction: initial;
  }
  .navbar ul {
    align-items: center;
    background-color: rgba(71, 71, 71, 0.7450980392);
  }
  .video {
    width: 90%;
  }
  iframe {
    width: 100%;
  }
  .navbar-collapse {
    width: 100%;
  }
  main {
    padding-top: 380px;
  }
  .encabezado {
    width: 90%;
  }
  .alert {
    width: 90%;
  }
  .historia {
    width: 90%;
  }
}
/* M O B I L E*/
@media (min-width: 320px) and (max-width: 480px) {
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .container-fluid {
    justify-content: center;
    flex-direction: column;
  }
  img {
    width: 100%;
  }
  .navbar {
    display: flex;
    justify-content: center;
    flex-direction: initial;
  }
  .navbar ul {
    align-items: center;
    background-color: rgba(71, 71, 71, 0.7450980392);
  }
  .navbar-collapse {
    width: 100%;
  }
  main {
    padding-top: 380px;
  }
  .encabezado {
    width: 100%;
  }
  .alert {
    width: 100%;
  }
  .video {
    width: 90%;
  }
  iframe {
    width: 100%;
  }
  .historia {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
