body{  
    background-image: url(../assets/fotobanda.png); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;

}     

ul{
    width: 100%;
    justify-content: right;
    
}

img{
    width: 350px;
}
.encabezado{
    font-size: 3rem;
    font-weight: 500;
    color: whitesmoke;
    text-align: center;
    font-weight: 700;
    background-color: #474747be;
    width: 600px;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 800px;
    
}

.alert{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #474747be;
    color: white;
    width: 600px;
    border-color: #474747be;
    box-sizing: border-box;


    &:hover{
        border-color: #0047cc;
        box-sizing: border-box;
        box-shadow: 1px 2px 10px 10px #0047cc63;
    }
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    color: white;
    top: 400px;
    position: relative;

}

.historia{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    color: white;
    top: 600px;
    margin: 0 150px 0 150px;
    position: relative;


    &_tittle{
        font-size: 2rem;

    }

}

.accordion{

    
    &-item{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #474747be;
        color: white;
        width: 800px;
    }

    &-button{
        background-color: #474747be;
        color: white;

        &.btn{
            color: white;
        }

        &::after{
            color: white;
        }

        &:not(.collapsed){
            background-color: #474747be;
            color: white;
        }
    }


}

.listado{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.contacto{
    color: #e9ecefdb;
    list-style-type: none;
    padding-left: 0px;
}

body{
    color: white;
}

.share{
    display: flex;
    justify-content: right;
    width: 50px;
    

    
    & button{
    background-color: rgb(255 255 255 / 0%);
    color: white;
    border: none;
    }

    &:hover{
        .links{
            display: inline;
            transition: display 3s;
            
            
        }
        button{
            transition: display 3s;
            display: none;
        }
    }


}

.links{
    display: none;
}

#wp{
    background-color: rgb(255 255 255 / 0%);
    color: white;
    border: none;
    text-decoration: none;
}

.msj{
    padding-top: 20px;
    font-size: 1.5rem;
    text-align: center;
}



