body{  
    background-image: url(../assets/fotobanda.png);  
    background-repeat: no-repeat;
    background-color: black;
      
}

.encabezado{
    font-size: 3rem;
    font-weight: 500;
    color: whitesmoke;
    text-align: center;
    font-weight: 700;
    background-color: #474747be;
    width: 600px;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 800px;
    
}

.alert{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #474747be;
    color: white;
    width: 600px;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    color: white;
    top: 400px;
    margin: 0 150px 0 150px;
    position: relative;

}

.historia{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    color: white;
    top: 600px;
    margin: 0 150px 0 150px;
    position: relative;


    &_tittle{
        font-size: 2rem;

    }

}

.accordion{

    
    &-item{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #474747be;
        color: white;
        width: 800px;
    }

    &-button{
        background-color: #474747be;
        color: white;
    }
}