footer{
    background-color: black;
    top: 700px;
    z-index: 1;
}


.container_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.menu_footer{
    text-align: center;


    & ul{
        list-style: none;
    }
    
    & a{
        color: white;
        text-decoration: none;


        &:hover{
            color: blue;
        }
    }
}


.redes{
    display: flex;
    justify-content: center;
    height: 80px;
    margin: 9px;
    width: 100%;


    a{
        color: white;
        text-align: center;
        text-decoration: none;
        margin: 10px;
        width: 15px;
        height: 15px;
        font-size: 30px;



        &:hover{
            color:blue;


        }

        }


}


.copyright{
    color: #8080802b;
    display: flex;
    justify-content: center;
    width: 100%;
}





