footer{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-content: end;
    background-color: black;
    top: 700px;
    z-index: 1;
}

.menu_footer{
    display: flex;
    flex-direction: column;
}


.redes{
    display: flex;
    justify-content: right;
    height: 40px;
    width: 80%;


    a{
        color: white;
        margin: 10px;
        text-decoration: none;
        width: 15px;
        height: 15px;
        font-size: 30px;
        transition: all .4s ease-in-out;

        &:hover{
            transform: scale(1.2,1.2);
            
        }

        }
}





