.contenedor{
    align-items: baseline;
}

.logo{
    display: flex;
    align-items: center;
    width: 100%;
}

header{
    height: 150px;
    display: flex;

}

.navbar{
    display: flex;
    justify-content: end;
    width: 100%;
}

.nav-link{
    color: white;

    &:hover{
        color: #0047cc;
        box-shadow:#1f6bfa;
        box-sizing:border-box;
    }
}