.contenedor{
    align-items: baseline;
}

.logo{
    display: flex;
    align-items: center;
    width: 100%;
}

header{
    height: 150px;
    display: flex;

}

.navbar{
    align-content: end;
    justify-content: right;
    width: 100%;
}

.nav-link{
    color: white;
}